.login-btn {
    -fx-background-color: #9ca3af;
    -fx-background-radius:8px;
    -fx-text-fill: black;
    /*-fx-font-size: 19px;*/
    -fx-cursor: hand;
}
.login-btn:hover {
    -fx-background-color: #BDC6D9;
    -fx-effect: dropshadow(gaussian, rgba(0.3, 0.3, 0.3, 0.3), 0.5, 0.5, 0.0, 0.0);
}
.user-menu-button {
    -fx-background-radius: 10px;
}
.antet {
    -fx-background-color: #4A5161;
    -fx-border-color: #000;
    -fx-border-width: .9px .9px .9px .9px;
}
.close {
    -fx-background-color: transparent;
    -fx-cursor: hand;
}
.close:hover {
    -fx-background-color: #6b7280;
}
